<a href="https://colab.research.google.com/github/ansleyo/RIT_ML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Assignment (16 points)
Predict the median_house_value. The file houses.csv contains
Information about houses in Californian districts. Write a Python program (in jupyter notebook)
that does the following:

 (1 point) Load the dataset

In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('/houses.csv')

 (2 point) Asses the data and clean them.

In [9]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64